body {
  background-color: rgb(171, 171, 171);
  font-family: "Arial", sans-serif;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#result {
  color: #0d6efd;
}
